#path-nodes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.drag-item-container {
  display: flex;
  align-items: center;
}

.drag-item-text {
  margin: 10px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  width: 120px;
  height: 15px;
}

.drag-item-button {
  padding: 10px;
}

.drag-item-button:hover {
  cursor: pointer;
}

.drag-item {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-button-group {
  display: flex;
}

.custom-button {
  border: 1px solid white;
  border-radius: 4px;
  width: 110px;
  padding: 10px;
  margin: 10px 5px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button:hover {
  cursor: pointer;
}

.custom-button-icon {
  margin-right: 10px;
}